body {
    background: url("../assets/bg_map.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top left;
}

.bg-blur {
    background: none !important;
    background-color: #0c0c0c5f;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.bg-semitrans {
    background: #02143275 !important;
    color: #fff8dc !important;
}
